.login {
	background-color: #000;
	border-radius: 0 0 60% 60%/0 0 100% 100%;
	padding-bottom: 5rem;
	background: #2b2f77;
	background: -webkit-linear-gradient(90deg, #2b2f77 0%, #141852 50%, #070b34 100%);
	background: linear-gradient(90deg, #2b2f77 0%, #141852 50%, #070b34 100%);
	padding-top: 3rem;
	display: flex;
	justify-content: center;

	.formBox {
		display: flex;
		justify-content: center;
		gap: 2rem;

		width: 70%;
		border-radius: 2rem;
		padding: 2.5rem 1rem;
		background: #fff;
		-webkit-box-shadow: 0 8px 19px -3.5px rgba(0, 0, 0, 0.47);
		-moz-box-shadow: 0 8px 19px -3.5px rgba(0, 0, 0, 0.47);
		box-shadow: 0 8px 19px -3.5px rgba(0, 0, 0, 0.47);

		.imageColumn {
			width: 50%;
			border-right: 1px solid #2b2f77;
		}

		.formColumn {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			h1 {
				font-size: 1.8rem;
				margin-bottom: 0.35rem;
			}

			p {
				font-size: 0.9rem;
				color: #aaa;
				margin-bottom: 1.5rem;
			}

			form {

				label {
					margin-bottom: 1rem;
				}
			}
		}
	}
}