.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3.5rem;

	h1 {
		text-align: center;
	}

	.search_form {
		max-width: 100%;
		width: 60%;
		display: flex;
		justify-content: center;
		margin: 2rem 0 3rem;

		input {
			margin-right: 10px;
			width: 50%;
		}

		button {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: .65rem;
		}
	}

	.noposts {
		text-align: center;

		p {
			margin-bottom: 1.5rem;
		}

		a {
			padding: 10px 25px;
		}
	}
}