.editPost {
	text-align: center;
	padding-top: 3.5rem;

	h2 {
		font-size: 2.2rem;

		span {
			font-size: 2rem;
			color: #444;
		}
	}

	p {
		color: #AAA;
		margin: 1rem 0 2rem;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		label {
			width: 60%;
		}

		.previewTitle {
			margin-bottom: .2rem;
			color: #000;
		}

		.previewImg {
			margin-bottom: 1rem;
			max-width: 100%;
		}
	}
}

// Media Query
@media (max-width: 767.98px) {

	.editPost {

		h2 {
			font-size: 1.45rem;

			span {
				font-size: 1.45rem;
			}
		}

		form {
			width: 95%;
			margin: 0 auto;

			label {
				width: 90%;
			}

			button {
				width: 70%;
			}
		}
	}
}