.post_container {
	text-align: center;
	padding-top: 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	p.body {
		text-align: justify;
		margin: 1rem 0;
	}

	img {
		margin-top: 1rem;
	}

	h3 {
		margin-bottom: .2rem;
	}

	.post_detail {
		width: 600px;
	}

	.tags {
		display: flex;
		justify-content: center;

		p {
			margin-right: 1rem;
		}
	}
}

// Media Query
@media (max-width: 767.98px) {

	.post_container {
		text-align: center;
		display: flex;
		flex-direction: initial;
		align-items: initial;
		justify-content: initial;
		
		h1 {
			font-size: 1.45rem;
		}

		img {
			width: 85%;
		}

		.post_detail {
			margin: 0 auto;
		}
	}
}