.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 2rem;
	background: #2b2f77;
	background: -webkit-linear-gradient(90deg, #2b2f77 0%, #141852 50%, #070b34 100%);
	background: linear-gradient(90deg, #2b2f77 0%, #141852 50%, #070b34 100%);
	box-shadow: 0px 5px 10px #aaa;
	flex-wrap: wrap;

	.brand {
		font-size: 1.2rem;

		img {
			margin-bottom: -4px;
		}
	}

	.links_list {
		display: flex;
		flex-wrap: wrap;
		list-style: none;

		li {
			margin-right: 1rem;

			a {
				padding: .4rem .6rem; 

				&.active {
					border-bottom: 1px solid white;
				}
			}
		}
	}
}

// Media Query
@media (max-width: 767.98px) {

	.navbar {
		justify-content: center;
		flex-direction: column;
		padding: 1.5rem 1rem;

		.links_list {
			margin-top: 2rem;
			justify-content: center;

			li {
				margin-right: 0;

				a.active {
					color: #ccc;
					border-bottom: 0;
				}
			}
		}
	}
}
