.search_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 3.5rem;

	h1 {
		margin-bottom: 3rem;
	}

	.noposts {
		text-align: center;

		p {
			margin-bottom: 1.5rem;
		}

		a {
			padding: 10px 25px;
		}
	}
}

// Media Query
@media (max-width: 767.98px) {

	.search_container {

		h1 {
			font-size: 1.45rem;
		}

		.general_posts {
			width: 95%;
		}
	}
}