* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6fcff;
    font-family: 'Montserrat', sans-serif;
}

div.App {

    main.container {
        min-height: 60vh;
        margin-bottom: 5rem;
    }


    // Glogal styles
    input, 
    textarea {

        &::placeholder {
            font-family: 'Montserrat', sans-serif;  
        }

        &:focus {
            outline: none;
        }
    }

    a, 
    nav button {
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: #FFF;
        transition: .4s;
        font-size: 1rem;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;

        &:hover {
            color: #bbb;
        }
    }
}