* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

div.App {

    main.container {
        min-height: 60vh;
        padding-bottom: 5rem;
        background-image: radial-gradient(#f5f5fc 2px, transparent 2px);
        background-size: 32px 32px;
        background-color: #ffffff;
    }

    // Glogal styles
    .error {
        color: #721c24;
        background-color: #f8d7da;
        border: 1px solid #f5c6cb;
        padding: 5px;
        border-radius: 5px;
    }

    .btn {
        background-color: #070b34;
        color: #fff;
        text-align: center;
        cursor: pointer;
        border-radius: 10px;
        font-weight: bold;
        border: none;
        padding: 10px 15px;
        font-size: 1rem;
        transition: .4s;
        min-width: 10rem;
        height: 2.65rem;

        &:hover {
            background-color: lighten(#070b34, 10%);
            color: #fff;
        }

        &.btn-dark {
            background-color: #070b34;
            border-radius: 0;

            &:hover { 
                background-color: lighten(#070b34, 20%);
                color: white;
            }
        }

        &.btn-danger {

            &:hover {background-color: #dc3545;}
        }

        &.btn-outline {
            background-color: transparent;
            border: 1px solid #000;
            border-radius: 0;
            color: #000;
            padding: 7px 30px;

            &:hover {
                background-color: #000;
            }
        }
    }

    button[disabled] {
        background-color: #aaa;
    }

    input, 
    textarea {

        &::placeholder {
            font-family: 'Montserrat', sans-serif;  
            color: #AAA;
        }

        &:focus {
            outline: none;
        }
    }

    a, 
    nav button {
        text-decoration: none;
        background-color: transparent;
        border: none;
        color: #FFF;
        transition: .4s;
        font-size: 1rem;
        cursor: pointer;
        font-family: 'Montserrat', sans-serif;

        &:hover {
            color: #bbb;
        }
    }

    // Form styles
    form {

        label {
            display: flex;
            flex-direction: column;
            margin-bottom: 1px;

            span {
                margin-bottom: .3rem;
                font-weight: bold;
                text-align: left;
            }
        }

        input,
        textarea {
            border: none;
            border-bottom: 1px solid #ccc;
            padding: .6rem 0;
            background-color: transparent;
        }
    }
}