.spinnerButton {
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: radial-gradient(farthest-side,#141852 94%,#0000) top/9px 9px no-repeat, 
         conic-gradient(#0000 30%,#141852);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: spinner-c7wet2 0.8s infinite linear;
    }
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}