.createPost {
	text-align: center;
	margin-top: 3.5rem;

	h2 {
		font-size: 2.2rem;
	}

	p {
		color: #AAA;
		margin: 1rem 0 2rem;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		label {
			width: 60%;
		}
	}
}