.post_details {
	margin-bottom: 2rem;
	-webkit-box-shadow: 0 6.5px 12.5px 4.5px #ddd;
	-moz-box-shadow: 0 6.5px 12.5px 4.5px #ddd;
	box-shadow: 0 6.5px 12.5px 4.5px #ddd;
	background: rgba(255,255,255,0.5);
	-webkit-backdrop-filter: blur(30px);
	backdrop-filter: blur(30px);

	img {
		max-width: 600px;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	div.card_content {
		padding: 1.5rem 1rem;

		h2 {
			margin: .2rem 0 .4rem;
		}

		.tags {
			display: flex;
			margin-bottom: 1.2rem;
			font-size: .9rem;

			p {
				margin-right: .5rem;
			}
		}

		.createdby {
			font-size: .8rem;
			margin: 1rem 0 .5rem;
			color: #444;
		}
	}
}